<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SpeedySend - Share and Receive Files</title>
    <!-- Add meta tags for SEO -->
    <meta
      name="description"
      content="SpeedySend allows you to quickly share and receive files with others. Join a room and start sending files securely and fast."
    />
    <meta
      name="keywords"
      content="SpeedySend, file sharing, receive files, send files, fast file transfer"
    />
    <meta name="author" content="Ajay Yadav" />

    <!-- Link to your CSS -->
    <link rel="stylesheet" href="../css/guide.css" />

    <!-- Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-1QZR7207EC"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "G-1QZR7207EC");
    </script>
  </head>
  <body>
    Updating Soon!!
  </body>
</html>
