<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SpeedySend - Share and Receive Files</title>
    <!-- Add meta tags for SEO -->
    <meta
      name="description"
      content="SpeedySend allows you to quickly share and receive files with others. Join a room and start sending files securely and fast."
    />
    <meta
      name="keywords"
      content="SpeedySend, file sharing, receive files, send files, fast file transfer"
    />
    <meta name="author" content="Ajay Yadav" />

    <!-- Link to your CSS -->
    <link rel="stylesheet" href="../css/guide.css" />

    <!-- Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-1QZR7207EC"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "G-1QZR7207EC");
    </script>
  </head>

  <body>
    <div class="guide-container">
      <div class="heading-container">
        <h1 class="guide-heading">How to Use</h1>
      </div>
      <ol class="guide-steps">
        <li>
          <strong>Step 1:</strong> Enter a unique room ID on the home page.
        </li>
        <li>
          <strong>Step 2:</strong> If the room exists, you'll be connected to
          it. If not, a new room will be created for you.
        </li>
        <li>
          <strong>Step 3:</strong> When you are the only user in the room,
          you'll see "Waiting for your buddy" label.
        </li>
        <li>
          <strong>Step 4:</strong> Share the room ID with the person you want to
          connect with.
        </li>
        <li>
          <strong>Step 5:</strong> The other user enters the same room ID and
          clicks "Join Room."
        </li>
        <li>
          <strong>Step 6:</strong> The label changes to "Connected" when the
          other user joins.
        </li>
        <li>
          <strong>Step 7:</strong> Now, you can click "Choose" to select and
          send the file to the other user in real-time.
        </li>
        <li>
          <strong>Step 8:</strong> The recipient will see the file transfer
          progress on their end.
        </li>
        <li>
          <strong>Step 9:</strong> Once the transfer is complete, both users
          will receive a notification.
        </li>
        <li>
          <strong>Step 10:</strong> You can review your sent and received files
          in the "Files Sent" and "Files Received" sections, respectively.
        </li>
        <li>
          <strong>Step 11:</strong> Enjoy fast and secure file sharing with
          SpeedySend!
        </li>
      </ol>
    </div>
  </body>
</html>
