<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../index.css" />
    <title>Airdropp</title>
  </head>
  <body>
    <h1 class="brand">Airdropp</h1>

    <div id="joinRoom">
      <h2>Join a room to send or recieve a file</h2>
      <div class="flex">
        <input type="text" id="roomIdInput" placeholder="Enter Room ID" />
        <button onclick="joinRoom()">Join Room</button>
      </div>
    </div>
    <div id="userprofile">
      <div id="head"></div>
      <div id="body">
        <div id="left-leg"></div>
        <div id="right-leg"></div>
      </div>
    </div>
    <div id="usernameDisplay">
      <p>You are popular as: <span id="username"></span></p>
    </div>

    <!-- Socket.IO Client Library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.3/socket.io.js"></script>
    <!-- Custom JavaScript -->
    <script src="../index.js"></script>
  </body>
</html>
