@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow:hidden; */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  position: relative;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  display: flex;
  color: white;
  background-color: black;
}
.entireBody {
  width: 100%;
  height: 100%;
}
ol li {
  list-style-type: none;
}
body::before {
  content: "";
  background: url("..//images/stars.png");
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.5;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: rotateAndZoomImage 400s linear infinite;
  transform: translate(-50%, -50%);
  transform: scale(2);
}
@keyframes rotateAndZoomImage {
  0% {
    transform: translate(-50%, -50%) rotate(0) scale(1.8);
  }

  50% {
    transform: translate(-50%, -50%) rotate(180deg) scale(2);
    /* Adjust the scale (1.2) as per your preference */
  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg) scale(2);
  }
}

.guide-container {
  background-color: rgba(69, 69, 69, 0.5);
  border: 1px white dashed;
  padding: 10px;
  border-radius: 8px;
}

.heading-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.guide-heading {
  margin-bottom: 3rem;
  width: fit-content;
  text-align: center;
  background: linear-gradient(-45deg, #ff0066, #ffd000);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.guide-steps {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 30px;
  margin-bottom: 1rem;
}

@media screen and (max-width: 768px) {
  .guide-steps {
    gap: 20px;
  }
  .guide-container {
    background-color: rgba(69, 69, 69, 0.2);
    border: none;
    padding: 10px;
    border-radius: 8px;
  }
  .guide-heading {
    margin: 2rem;
  }
}

/* Apply the CSS for Safari only */
@supports (-webkit-touch-callout: none) {
  /* Safari-specific CSS styles go here */
  .heading-container {
    margin-top: 5rem;
  }
}
