@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  position: relative;
  width: 100vw;
  height: 82vh;
  background-color: black;
}
.entireBody {
  width: 100%;
  height: 100%;
}
body::before {
  content: "";
  background: url("..//images/stars.png");
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.6;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: rotateAndZoomImage 200s linear infinite;
  transform: translate(-50%, -50%);
  transform: scale(2);
}

#navbar {
  display: flex;
  align-items: center;
  height: 70px;
  color: white;
  justify-content: space-between;
  margin: 2rem 0rem;
}
.feedback {
  margin-left: 20px;
  font-size: 1.3rem;
  text-decoration: none;
  color: #ff0066;
}
#left-nav {
  flex: 1.1;
}
#center-nav {
  flex: 3;
}
#right-nav {
  flex: 1;
}
.guideLink {
  margin-right: 20px;
  font-size: 1.3rem;
  text-decoration: none;
  color: #ff0066;
}
.phoneGuide {
  display: none;
}
.phoneFeedback {
  display: none;
}
.infoBtn {
  transition: all 0.2s;
  text-decoration: none;
  color: white;
  padding: 20px;
}

.infoBtn:hover {
  cursor: pointer;
  color: #c1004d;
}

@keyframes rotateAndZoomImage {
  0% {
    transform: translate(-50%, -50%) rotate(0) scale(1.8);
  }

  50% {
    transform: translate(-50%, -50%) rotate(180deg) scale(2);

    /* Adjust the scale (1.2) as per your preference */
  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg) scale(2);
  }
}

.brand {
  font-size: 3rem;
  color: #ffffff;
  font-family: "Acme", sans-serif;
}
#fileInput {
  display: none;
}
.browse-span {
  color: rgb(10, 132, 255);
  cursor: pointer;
}
.mainContainerCenter {
  display: flex;
  width: 100%;
  gap: 5rem;
  justify-content: center;
  align-items: center;
}
.mainContainer {
  background-color: rgba(30, 30, 30, 0.07);
  color: rgb(0, 0, 0);
  padding: 1rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-top: 2rem;
  border-radius: 8px;
  /* box-shadow: 5px 5px 18px 2px #1e1e1e; */
  height: fit-content;
}
.drop-zone {
  border: 2px dashed #313143;
  padding: 1rem;
  color: white;
  border-radius: 8px;
  text-align: center;
  letter-spacing: 0.03rem;
}

#joinRoom {
  color: #ffd078;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#joinRoom h2 {
  margin-bottom: 2rem;
  width: fit-content;
  background: linear-gradient(-45deg, #ff0066, #ffd000);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.centeredLabel {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

#joinRoom input {
  width: 200px;
  padding: 10px;
  font-size: 1rem;
  border-radius: 4px;
  border: none;
  outline: none;
  background-color: #e9e9e9;
  transition: all 0.5s;
}

#joinRoom :focus {
  border: none;
}

#joinRoom button {
  border: none;
  font-size: 1rem;
  background-color: #ffad16;
  padding: 8px 20px;
  border-radius: 4px;
  color: rgb(86, 75, 75);
  cursor: pointer;
  transition: all 0.5s;
}

#joinRoom button:hover {
  background-color: #ffc457;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.userProfileContainer {
  display: flex;
  height: 200px;
  width: 100%;
  margin-top: 14rem;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}

.userNameDisplayContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}

.userProfile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: rgb(86, 75, 75);
  font-family: "Hachi Maru Pop", cursive;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: #ffad16;
}
.thread {
  width: 82vw;
  height: 6px;
  background-color: orange;
}
.fileInfo {
  margin-top: 5px;
}
#progressBar {
  width: 0px;
  height: 6px;
  background-color: rgb(0, 106, 255);
}
.peerProfile {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 2rem;
  color: rgb(86, 75, 75);
  font-family: "Hachi Maru Pop", cursive;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: #ffad16;
}

.userNameDisplay {
  margin-top: -30px;
  color: rgb(234, 234, 234);
  font-family: "Acme", sans-serif;
  font-size: 1.2rem;
  letter-spacing: 0.04rem;
}
.peerNameDisplay {
  margin-top: -30px;
  color: rgb(234, 234, 234);
  font-family: "Acme", sans-serif;
  font-size: 1.2rem;
  letter-spacing: 0.04rem;
}

.toast-container {
  position: fixed;
  background-color: rgba(255, 65, 65, 0.8);
  display: flex;
  left: 50%;
  width: fit-content;
  bottom: 50px;
  border-radius: 8px;
  transform: translateX(-50%);
  z-index: 9999;
}
.toast {
  color: white;
  background-color: transparent;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2px;
  font-family: "Acme", sans-serif;
  letter-spacing: 0.1rem;
  padding: 10px 20px;
  text-align: center;
  font-size: 1rem;
  display: inline-block;
  animation: toastShowing 0.5s;
}
.toastBtn {
  background-color: transparent;
  font-family: "Acme", sans-serif;
  border: none;
  color: black;
  text-align: left;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  font-size: 1.5rem;
  padding: 10px;
  animation: toastShowing 0.5s;
}
.toastBtn:hover {
  background-color: rgba(247, 0, 0, 0.8);
  cursor: pointer;
}

.filesSent {
  background-color: rgba(30, 30, 30, 0.6);
  padding: 10px;
  color: white;
  border-radius: 4px;
}

.recievedFiles {
  background-color: rgba(30, 30, 30, 0.6);
  padding: 10px;
  color: white;
  border-radius: 4px;
}

.filesSent p {
  font-size: 1.2rem;
  color: #ffc457;
  margin-bottom: 20px;
}

.recievedFiles p {
  font-size: 1.2rem;
  color: #ffc457;
  margin-bottom: 20px;
}
.fileElement {
  margin-bottom: 2px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.downloadBtn {
  padding: 5px 10px;
  background-color: #ff0066;
  border: none;
  font-size: 0.85rem;
  cursor: pointer;
  border-radius: 4px;
}
.downloadBtn:hover {
  background-color: #c1004d;
}

.phoneGuideLink {
  display: none;
}

@keyframes toastShowing {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  75% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
/* updating ui after connection */

.moveUserProfileContainer {
  margin-top: 1rem;
  padding: 0px 40px;
  justify-content: space-between;
}

.moveuserNameDisplayContainer {
  margin-top: -1rem;
  padding: 0px 20px;
  justify-content: space-between;
}

/* Add media query for smaller devices */
@media screen and (max-width: 768px) {
  body::before {
    background-size: contain;
    opacity: 1;
    background-position: center center;
  }
  @keyframes rotateAndZoomImage {
    0% {
      transform: translate(-50%, -50%) rotate(0) scale(3);
    }

    50% {
      transform: translate(-50%, -50%) rotate(180deg) scale(3.2);
      /* Adjust the scale (1.2) as per your preference */
    }

    100% {
      transform: translate(-50%, -50%) rotate(360deg) scale(3.2);
    }
  }

  #navbar {
    margin: 0.5rem 0.8rem 2rem 0rem;
  }

  #center-nav {
    flex: 6;
  }

  .guideLink {
    display: none;
  }
  .feedback {
    display: none;
  }
  .phoneGuide {
    display: block;
    position: fixed;
    bottom: 120px;
    left: 50%;
    transform: translateX(-50%);
    text-decoration: none;
    color: #ff0066;
    font-size: 1.1rem;
  }
  .phoneFeedback {
    display: block;
    width: fit-content;
    position: fixed;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    text-decoration: none;
    color: #ff0066;
    font-size: 1.1rem;
  }

  .brand {
    font-size: 2.5rem;
    margin: 2rem 0rem;
  }

  #label {
    margin-bottom: 2rem;
    font-size: 1.3rem;
  }
  #joinRoom input {
    width: 200px;
    padding: 8px;
    font-size: 1rem;
  }
  #joinRoom button {
    font-size: 0.9rem;
    padding: 8px 20px;
  }
  .userProfile {
    font-size: 1.5rem;
    width: 70px;
    height: 70px;
  }
  .userProfileContainer {
    height: 160px;
    margin-top: 2rem;
  }
  .thread {
    width: 40vw;
    height: 4px;
  }
  .fileInfo {
    margin-top: 3px;
  }
  #progressBar {
    height: 4px;
  }
  .peerProfile {
    padding: 20px;
    font-size: 1.5rem;
    width: 70px;
    height: 70px;
  }
  .userNameDisplay {
    font-size: 1rem;
    letter-spacing: 0.02rem;
  }
  .peerNameDisplay {
    font-size: 1rem;
    letter-spacing: 0.02rem;
  }
  .filesSentPhone {
    display: none;
  }

  .downloadBtn {
    color: rgb(60, 60, 60);
  }
  .mainContainerCenter {
    flex-direction: column;
    gap: 0.7rem;
  }
  .mainContainer {
    width: 90%;
    padding: 1.5rem;
  }
}
