@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #525FE1;
    text-align: center;
}

.brand {
    font-size: 3rem;
    margin: 3rem 0rem;
    color: white;
    font-family: 'Acme', sans-serif;
}